.configurator-preview {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.configurator-preview img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Basis Gehäuse */
.layer-base {
  transform: translateY(0px);
  z-index: 1;
}

/* Gehäuse mit Welle */
.layer-shaft {
  transform: translateY(10px);
  z-index: 1;
}

/* Ring */
.layer-ring {
  transform: translateY(-35px);
  z-index: 2;
}

/* Haube */
.layer-hood {
  transform: translateY(55px);
  z-index: 3;
}

.layer-hidden {
  display: none;
}
